/.env
/frontend/.gradle
/frontend/build
/frontend/.idea
/frontend/.vscode
/frontend/.classpath
/frontend/.project
/frontend/.settings
/frontend/out
/backend/.gradle
/backend/build
/assets/*
!/assets/*.png
!/assets/*.ico
!/assets/*.txt
.DS_Store
/.gradle
/.idea
/.vscode
build
*.iml
/.settings
/.classpath
/.project
